
<footer>

    <div class="container-fluid">

        <div class="panel panel-primary">

            <div class="panel-body">


                &copy; 2016 &mdash; EPAM


            </div>
        </div>
    </div>

</footer>